.article-container{
  display: grid;
  grid-template-columns: [left] 70px [col1] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [col5] 1fr [col6] 1fr [col7] 1fr [col8] 1fr [right] 70px;
  grid-template-rows: [row1] 70px [row2] 730px [row3] 100px [row4] 455px [row5] 1fr;
}

.futura{
  font-family: "Futura-Medium";
  color: #B2B2B2;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.5px;
  font-weight: 100;
}

img{
  width: 100vw;
  height: 770px;
  object-fit: cover;
}

.author-date-tags-container{
  grid-column: col2 / col3;
  grid-row-start: row4;
  width: 180px;
}

.author-date-tags-container div{
  padding-left: 1px;
  padding-top: 15px;
}

.author{
  border-top: 1px solid #E5E5E5;
  margin-bottom: 35px;
}

.author span{
  font-family: 'Copernicus';
  font-size: 20px;
  color: #6E4F31;
  text-transform: capitalize;
}

.date{
  border-top: 1px solid lightgray;
  margin-bottom: 30px;
}

.tags{
  border-top: 1px solid lightgray;
  padding-top: 10px;
}

.tags li{
  margin-top: 7px;
}

.article-body{
  grid-column: col4 / right;
  grid-row-start: row4;
}

.location{
  display: inline;
  margin-right: 10px;
  color: #808080;
}

.paragraph{
  font-family: 'Palatino';
  margin-right: 110px;
  word-wrap: break-word;
  margin-bottom: 15px;
  line-height: 1.5;
}

.quote{
  font-family: 'Copernicus';
  color: #8A98A6;
  font-size: 30px;
  line-height: normal;
  margin: 40px 0px;
  margin-right: 150px;
  margin-left: -45px;
}
