.article-container{
  display: grid;
  grid-template-columns: [left] 70px [row1] 1fr [row2] 1fr [row3] 1fr [row4] 1fr [row5] 1fr [row6] 1fr [row7] 1fr [row8] 1fr [right] 70px
}

img{
  width: 100vw;
  height: 800px;
  object-fit: cover;
}
