.article-container{
  display: grid;
  grid-template-columns: [left] 70px [col1] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [col5] 1fr [col6] 1fr [col7] 1fr [col8] 1fr [right] 70px;
  grid-template-rows: [row1] 70px [row2] 730px [row3] 100px [row4] 1fr;
  margin-bottom: 120px;
}

.futura{
  font-family: "Futura-Medium";
  color: #B2B2B2;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.5px;
  font-weight: 100;
}

img{
  width: 100vw;
  height: 770px;
  object-fit: cover;
}

.author-date-tags-container{
  grid-column: col2 / col3;
  grid-row-start: row4;
  width: 180px;
}

.author-date-tags-container div{
  padding-left: 1px;
  padding-top: 15px;
}

.author{
  border-top: 1px solid #E5E5E5;
  margin-bottom: 35px;
}

.author span{
  font-family: 'Copernicus';
  font-size: 20px;
  color: #6E4F31;
  text-transform: capitalize;
}

.date{
  border-top: 1px solid #E5E5E5;
  margin-bottom: 30px;
}

.tags{
  border-top: 1px solid #E5E5E5;
  padding-top: 10px;
}

.tags li{
  margin-top: 7px;
}

.article-body{
  grid-column: col4 / right;
  grid-row-start: row4;
}

.location{
  display: inline;
  margin-right: 10px;
  color: #808080;
}

.paragraph{
  font-family: 'Palatino';
  margin-right: 110px;
  word-wrap: break-word;
  margin-bottom: 15px;
  line-height: 1.5;
}

.quote{
  font-family: 'Copernicus';
  color: #8A98A6;
  font-size: 30px;
  line-height: normal;
  margin: 40px 0px;
  margin-right: 150px;
  margin-left: -45px;
}

.loading-div{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}


// re interperet grid system for smaller viewports
@media(max-width: 1100px){
  .author-date-tags-container{
    grid-column: col2 / col7;
    grid-row-start: row4;
    display: flex;
    height: 100px;
    margin-left: 20px;
    margin-top: -30px;
  }

  .author-date-tags-container div{
    padding: 20px;
  }

  .author{
    border-top: 0px;
    border-right: 1px solid #E5E5E5;
    height: 40px;
    display: flex;
  }

  .author span{
    padding-left: 5px;
  }
  .date{
    border-top: 0px;
    border-right: 1px solid #E5E5E5;
    height: 40px;
  }

  .tags{
    border-top: 0px;
    padding-top: 10px;
    padding-left: 20px;
  }

  .article-body{
    grid-column: col2 / col8;
    grid-row-start: row4;
    margin-top: 100px;
    margin-left: 20px;
  }

  .paragraph{
    margin-right: 0px;
  }
}

// loading spinner to display while component is mounting
.spinner {
  width: 150px;
  height: 150px;
  background-color: #4387C1;
  margin: 40vh auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
