.title-body{
  background-color: transparent;
  grid-column: col2 / col6;
  grid-row: row2 /row3;
  align-self: end;
  margin-left: -50px;
  display: flex;
  flex-direction: column;
}

.edit-button{
  height: 30px;
  width: 30px;
  background-color: #F3E13B;
  padding-top: 4px;
  margin-bottom: 10px;
}

.title-wrap{
  display: inline-block;
  background-color: transparent;
}

.title-display{
  font-family: 'Copernicus';
  line-height: normal;
  font-size: 55px;
  font-weight: bold;
  background: image-url("header_img.jpg");
  background-position-y: bottom;
  background-position-x: -255px;
  background-size: 1325px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 50;
  margin-left: 50px;
  box-shadow: 10px 0 0 rgba(0,0,0,0), -10px 0 0 rgba(0,0,0,0);
  word-wrap: break-word;
}

.title-mask-container{
  display: inline-block;
  grid-column: col2 / col6;
  grid-row: row2 /row3;
  align-self: end;
}

.title-mask{
  font-family: 'Copernicus';
  line-height: normal;
  box-shadow: 20px 0 0 white, -20px 0 0 white;
  border-top: solid 10px white;
  display: inline;
  font-size: 55px;
  font-weight: bold;
  background: white;
  color: rgba(0,0,0,0);
  word-wrap: break-word;
}

.input-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  background: white;
  width: 750px;
  margin-left: 30px;
}

.title-input{
  font-family: 'Copernicus';
  height: 75px;
  width: 685px;
  outline: none;
  font-size: 40px;
  padding-left: 10px;
  z-index: 2;
  background: #F9F9F9;
  border: 2px solid #CBCBCB;
}

.slug-container{
  width: 685px;
  text-align: left;
  margin-top: 10px;
  text-transform: lowercase;
  font-size: 14px;
}

.slug{
  color: #666666;
}

.editing-icons-wrap{
  display: flex;
  flex-direction: column;
}

.checkmark{
  height: 30px;
  width: 30px;
  padding-top: 1px;
  background: "#A2D05A";
}

.disabled{
  background: "#4D4D4D";
}

.x-icon{
  background-color: #E66D3E;
  height: 30px;
  width: 30px;
  padding-top: 1px;
}

@media(max-width: 1100px){
  .title-body{
    grid-column: col2 / col7;
  }

  .title-mask-container{
    grid-column: col2 / col7;
  }
}

// adjust font background based on viewport to be fluent with picture (...needs fine tuning)
@media(min-width: 800px){
  .title-display{
    background-position-y: bottom;
    background-position-x: -255px;
    background-size: 1325px;
  }
}

@media(min-width: 1280px){
  .title-display{
    background-position-y: bottom;
    background-position-x: -193px;
    background-size: 1230px;
  }
}

@media(min-width: 1400px){
  .title-display{
    background-position-y: bottom;
    background-position-x: -134px;
    background-size: 1187px;
  }
}

@media(min-width: 1500px){
  .title-display{
    background-position-y: bottom;
    background-position-x: -76px;
    background-size: 1116px;
  }
}

@media(min-width: 1600px){
  .title-display{
    background-position-y: bottom;
    background-position-x: -7px;
    background-size: 998px;
  }
}
