.title-body{
  background-color: transparent;
  grid-column: col2 / col6;
  grid-row: row2 /row3;
  align-self: end;
  margin-left: -50px;
  display: flex;
  flex-direction: column;
}

.edit-button{
  height: 30px;
  width: 30px;
  background-color: #F3E13B;
  padding-top: 4px;
  margin-bottom: 10px;
}

.title-wrap{
  display: inline-block;
  background-color: transparent;
}

.input-display{
  font-family: 'Copernicus';
  line-height: normal;
  font-size: 55px;
  font-weight: bold;
  background: image-url("header_img.jpg");
  background-position-y: bottom;
  background-position-x: -193px;
  background-size: 1230px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 50;
  margin-left: 50px;
  box-shadow: 10px 0 0 rgba(0,0,0,0), -10px 0 0 rgba(0,0,0,0);
}

.title-mask-container{
  display: inline-block;
  grid-column: col2 / col6;
  grid-row: row2 /row3;
  align-self: end;
}

.title-mask{
  font-family: 'Copernicus';
  line-height: normal;
  box-shadow: 20px 0 0 white, -20px 0 0 white;
  border-top: solid 10px white;
  display: inline;
  font-size: 55px;
  font-weight: bold;
  background: white;
  color: rgba(0,0,0,0);
}

.input-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 130px;
  background: white;
  width: 725px;
  margin-left: 30px;
}

.title-input{
  height: 75px;
  width: 685px;
  outline: none;
  font-size: 35px;
  padding-left: 10px;
}

.editing-icons-wrap{
  display: flex;
  flex-direction: column;
}

.checkmark{
  background-color: #A2D05A;
  height: 30px;
  width: 30px;
  padding-top: 1px;
}

.x-icon{
  background-color: #E66D3E;
  height: 30px;
  width: 30px;
  padding-top: 1px;
}
