// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@font-face {
  font-family: 'Copernicus';
  src: font-url('Copernicus-Heavy.eot'); /* IE9 Compat Modes */
  src: font-url('Copernicus-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       font-url('Copernicus-Heavy.woff') format('woff'), /* Modern Browsers */
       font-url('Copernicus-Heavy.ttf')  format('truetype'), /* Safari, Android, iOS */
       font-url('Copernicus-Heavy.svg#53d86533bbd20bc075f6ce29028572cc') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}
